{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true,
  },
  "parser":"babel-eslint",
    "extends": [
      "react-app"
    ],
    "rules": {
       "indent": ["error", 2,{ "SwitchCase": 1 }],
       "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-debugger":"error",
        "no-empty":"error",
        "no-empty-function":"error",
        "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "block-spacing" :["error","always"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "object-curly-spacing": ["error", "always"],
        "array-bracket-spacing": ["error", "always"]
    }
  }